@charset "ISO-8859-1";

*{font-family: Verdana;
}


header { background-color: #AFAFAF;
color:#FF5F00;text-align: center;
}

h3 {font-variant: small-caps;
}

table {border-collapse: collapse; box-shadow: 10px 10px 5px darkgray;
}

table, th, td { border: 1px solid black;
}

th {background-color: #76B900; color: white;
}

th, td {padding; 10px;
}

nav {margin-top: 50px; margin-bottom: 50px
}

nav a {background-color: #0082D1; color:white; font-weight:
bold; text-decoration: none; padding: 5px; border-radius: 5px;}

nav a: hover {background-color:#AFAFAF; color: #FF5F00;}

footer{background-color: #FF5F00; color:black; padding-top: 20px;
padding-bottom: 20px; text-align:center; margin-top: 20px}
